        .sidebar {
            transition: width 0.3s ease-in-out, background-color 0.3s ease, border-color 0.3s ease;
            will-change: width;
        }
        .sidebar-expanded {
            width: 256px; /* w-64 en Tailwind */
        }
        .sidebar-collapsed {
            width: 80px; /* w-20 en Tailwind */
        }
        /* Efecto de expansión al pasar el ratón cuando está colapsado */
        .sidebar-collapsed:hover {
            width: 256px; /* Expansión al hover */
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sutil sombra */
        }
        .dark .sidebar-collapsed:hover {
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
        }

        /* Oculta el texto de los enlaces del sidebar cuando está colapsado */
        .sidebar-text {
            transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
            white-space: nowrap;
        }
        .sidebar-collapsed .sidebar-text {
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        /* Asegura que el texto siempre sea visible si el sidebar está expandido */
        .sidebar-expanded .sidebar-text {
            opacity: 1;
            width: auto;
            height: auto;
            overflow: visible;
        }